body {
    background-color: aqua;
    /* Cor de fundo */
    font-family: 'Times New Roman', Times, serif;
    /* Fonte da letra */
    margin: 0;
    /* Margem */
    padding: 20px;
    /* Adiciona espaço interno */
    text-align: center;
}

h2 {
    text-align: center;
    color:darkblue;
}

.container {
    background-color:aliceblue;
    border-radius: 10px;
    max-width: 400px;
    /* Adicionar um espaço interno ao redor do conteúdo*/
    margin: auto;
    box-shadow: 0 0 10px rgb(0, 0, 0.9)
}

button{
    border-radius: 15px;
    cursor:pointer;
    /* Muda o cursor quando passa por cima do botão */
}

#bt1{
    margin-right: 114px;
    background-color: blue;
}

#bt1:hover{
    background-color: blueviolet;
    
}

#bt2:hover{
    background-color: blue;
}

#bt2{
    margin-left: 44px;
    background-color: blueviolet;
}

input{
    width: 70%;
    /* Muda o espaço do campo de digitação */
    padding: 1.5px;
    /* Espaço interno do texto */
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    /* Arredonda os campos */
    border: 2px double #111;
}

.balance {
    margin-top: 15px;
}